<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Django проект{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
    <style>
        body {
            margin: 0;
            padding: 20px;
            overflow-x: hidden;
        }
        .table {
            border: 1px solid #dee2e6;
        }
        .table th, .table td {
            border: 1px solid #dee2e6;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">eDoctorDocs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                        <a class="nav-link" href="{% url 'documents' %}">Документы</a>
                        <a class="nav-link" href="{% url 'news' %}">Новости</a>
                    </div>
                </div>
                {% if username %}
                    <div class="d-flex">
                        <span class="navbar-text me-2">Пользователь: {{ username }}</span>
                        <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <a class="btn btn-outline-success me-2" href="{% url 'login' %}">Вход</a>
                        <a class="btn btn-primary" href="{% url 'register' %}">Регистрация</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>