{% extends 'base.html' %}

{% block title %}Добавление задачи{% endblock %}

{% block content %}

    <h1>Создать задачу</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <script>
        $(document).ready(function() {
            // Инициализация Datepicker для поля даты
            $('#id_deadline').datepicker({
                format: 'yyyy-mm-dd', // Формат даты
                autoclose: true
            });
        });
    </script>
{% endblock %}