{% extends 'base.html' %}

{% block title %}Внутренние документы{% endblock %}

{% block content %}

    <h1>Все внутренние документы</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Дата создания</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in docs %}
                <tr>
                    <td><a href="{% url 'docs_detail' doc.id %}">{{ doc.title }}</a></td>
                    <td>{{ doc.author.first_name }}</td>
                    <td>{{ doc.date|date:"d.m.Y" }}</td>
                    <td>{{ doc.type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <a href="{% url 'docs_add' %}" class="btn btn-success">Создать документ</a>
    </div>

{% endblock %}