<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load custom_filters %}
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post" style="width: 300px; text-align: center; margin: 30px auto">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

        <div class="form-floating">
            {{ form.username|add_class:"form-control" }}
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating" style="margin-top: 10px;">
            {{ form.password|add_class:"form-control" }}
            <label for="floatingPassword">Пароль</label>
            {% if form.non_field_errors %}
                <div class="text-danger">
                    {{ form.non_field_errors|first }}
                </div>
            {% endif %}
        </div>

        <button class="btn btn-primary py-2" style="margin-top: 10px;" type="submit">Войти</button>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'img/icons8-google-48.png' %}"
            style="margin-top: 10px;" title="Авторизоваться через Google" alt="Google Icon"></a>
        <p style="margin-top: 10px; text-align: center">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        <a class="btn btn-primary" href="{% url 'employee_register' %}">Зарегистрироваться как сотрудник</a>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p>
    </form>

    <!--<div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="sign_in_with" data-size="large" data-logo_alignment="left"></div>

    <script>
        function onSignIn(googleUser ) {
            // Здесь вы можете обработать успешный вход
            var profile = googleUser .getBasicProfile();
            console.log('ID: ' + profile.getId()); // Не отправляйте этот ID на ваш сервер!
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
        }
    </script>-->
</body>
</html>