{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}

    <h1>Все новости</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Дата создания</th>
                <th>Автор</th>
            </tr>
        </thead>
        <tbody>
            {% for new in news %}
                <tr>
                    <td>{{ new.title }}</td>
                    <td>{{ new.date }}</td>
                    <td>{{ new.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <a href="{% url 'create_news' %}" class="btn btn-success">Добавить новость</a>
    </div>

{% endblock %}